<h1>Liquid Template Viewer</h1>
<% unless @file_name %>
    <h2>Please Select a file</h2>
<% end %>
<%= form_tag liquid_viewer_path, method: 'get' do %>
    <fieldset style='width: 400px; display: inline-block'>
        <%= label_tag :file_name %>
        <%= select_tag :file_name, grouped_options_for_select(@files, @file_name) %>
        <br>
        <% UserData.members.each_with_index do |member, index| %>
            <% next if member == :actor_full_name %>
            <% if member == :last_behavior_display_string %>
                <% value = (params[:last_behavior_display_string] || 'Running: 0:20') %>
            <% elsif member == :last_behavior_created_at%>
                <% value = DateTime.now %>
            <% else %>
                <% value = params[member] || nil %>
            <% end %>

            <%= label_tag member %>
            <%= text_field_tag member, params[member], placeholder: member.to_s, value: value %>
            <br>
            <% if index == 7 %>
                </fieldset>
                <fieldset style='width: 400px; display: inline-block'>
            <% end %>
        <% end %>
    </fieldset>
    <br>
    <br>
    <br>
    <center>
        <%= submit_tag 'Go!', name: nil, style: 'width: 200px;padding: 15px; display: inline-block' %>
    </center>
<% end %>
<br>
<h1><%= @use_template %></h1>
<center><h3><%= @file_name %></h3></center>
<% if @template %>
    <%= raw(@template.render(@user_data.liquid_hash)) %>
<% end %>
